pkgbase = unpackerr
	pkgdesc = Extracts downloads so Radarr, Sonarr, Lidarr or Readarr may import them.
	pkgver = 0.12.0
	pkgrel = 547
	url = https:/golift.io/unpackerr
	install = unpackerr.aur.install
	arch = x86_64
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	arch = i686
	arch = pentium4
	license = MIT
	makedepends = go
	makedepends = make
	backup = etc/unpackerr/unpackerr.conf
	source = unpackerr-0.12.0.tar.gz::https://github.com/Unpackerr/unpackerr/archive/v0.12.0.tar.gz
	sha256sums = cbe56758473a612b099e45604a7bbe19880ba10c1d1615dfa4e6d171da45f927

pkgname = unpackerr
