pkgbase = unpackerr
	pkgdesc = Extracts downloads so Radarr, Sonarr, Lidarr or Readarr may import them.
	pkgver = 0.13.1
	pkgrel = 613
	url = https:/golift.io/unpackerr
	install = unpackerr.aur.install
	arch = x86_64
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	arch = i686
	arch = pentium4
	license = MIT
	makedepends = go
	makedepends = make
	backup = etc/unpackerr/unpackerr.conf
	source = unpackerr-0.13.1.tar.gz::https://github.com/Unpackerr/unpackerr/archive/v0.13.1.tar.gz
	sha256sums = 92e566992501970b17e2bbfa06c99ab8805b0181e85f16d1046774ce36bf35e1

pkgname = unpackerr
