pkgbase = notifiarr
	pkgdesc = Unified Client for Notifiarr.com
	pkgver = 0.4.1
	pkgrel = 1045
	url = https://github.com/Notifiarr/notifiarr
	install = notifiarr.aur.install
	arch = x86_64
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	arch = i686
	arch = pentium4
	license = MIT
	makedepends = go
	makedepends = make
	backup = etc/notifiarr/notifiarr.conf
	source = notifiarr-0.4.1.tar.gz::https://codeload.github.com/Notifiarr/notifiarr/tar.gz/refs/tags/v0.4.1
	sha256sums = b74b128306ff4a2c834cf20a43e7f0b2a9078ecc3c7e3e76f0ce08f4d442f6c0

pkgname = notifiarr
