pkgbase = notifiarr
	pkgdesc = Unified Client for Notifiarr.com
	pkgver = 0.3.2
	pkgrel = 766
	url = https://github.com/Notifiarr/notifiarr
	install = notifiarr.aur.install
	arch = x86_64
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	arch = i686
	arch = pentium4
	license = MIT
	makedepends = go
	makedepends = make
	backup = etc/notifiarr/notifiarr.conf
	source = notifiarr-0.3.2.tar.gz::https://codeload.github.com/Notifiarr/notifiarr/tar.gz/refs/tags/v0.3.2
	sha256sums = 27ef00b0a79d97a918a7d42e83e6b53ad92821a8a77c9d91be359256873cdd5e

pkgname = notifiarr
