pkgbase = notifiarr
	pkgdesc = Official Client for Notifiarr.com
	pkgver = 0.5.1
	pkgrel = 1504
	url = https://notifiarr.com
	install = notifiarr.aur.install
	arch = x86_64
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	arch = i686
	arch = pentium4
	license = MIT
	makedepends = go
	makedepends = make
	backup = etc/notifiarr/notifiarr.conf
	source = notifiarr-0.5.1.tar.gz::https://github.com/Notifiarr/notifiarr/archive/v0.5.1.tar.gz
	sha256sums = 7edf87646eb49b6736a69a0fad4e3e0a0a294e18e533be47725dfa16744ff71f

pkgname = notifiarr
